<form method="post" accept-charset="utf-8" class="well" role="form" action="contatos/enviar" >
    <div style="display:none;">
        <input type="hidden" name="_method" value="POST">
    </div>
    <div class="form-group text required">
        <label for="nome">Nome:</label>
        <input type="text" name="nome" required="required" maxlength="255" id="nome" class="form-control">
    </div>
    <div class="form-group email required">
        <label for="email">E-mail:</label>
        <input type="email" name="email" required="required" maxlength="255" id="email" class="form-control">
    </div>
    <div class="form-group text">
        <label for="telefone">Telefone:</label>
        <input type="text" name="telefone" maxlength="255" id="telefone" class="form-control">
    </div>
    <div class="form-group textarea required" >
        <label for="mensagem">Mensagem:</label>
        <textarea name="mensagem" class="form-control" maxlength="250" required="required" id="mensagem" rows="3"></textarea>
    </div>
    <div class="submit">
        <input type="button" ng-click="toggle()" class="btn btn-success" value="Enviar">
    </div>
</form>