<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <img src="free_bt_theme/img/profile.png" alt="{{title}}" title="{{title}}" class="img-responsive"/>
                <div class="intro-text">
                    <hr class="star-light">
                    <span class="skills">
                        Web Developer
                        <br>
                        Ruby on Rails - Angular2
                        <div class="happy"></div>
                        <br>
                        Jquery - CSS - Node - Amazon Aws
                        <br>
                        Php
                        <div class="angry"></div>
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>
