<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <img src="free_bt_theme/img/profile.png" alt="Leandro Machado Pereira" title="Leandro Machado Pereira" class="img-responsive"/>
                <div class="intro-text">
                    <hr class="star-light">
                    <span class="skills">Web Developer - RUBY - AngularJs - Jquery - CSS - Ruby on Rails - Node - Amazon Aws</span>
                </div>
            </div>
        </div>
    </div>
</header>