<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2>Portfolio</h2>
            <hr class="star-primary">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 portfolio-item">
            <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                <div class="caption">
                    <div class="caption-content">
                        <i class="fa fa-search-plus fa-3x"></i>
                    </div>
                </div>
                <img src="free_bt_theme/img/portfolio/cabin.png" alt="cabin" class="img-responsive"/>					</a>
        </div>
        <div class="col-sm-4 portfolio-item">
            <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                <div class="caption">
                    <div class="caption-content">
                        <i class="fa fa-search-plus fa-3x"></i>
                    </div>
                </div>
                <img src="free_bt_theme/img/portfolio/cake.png" alt="cake" class="img-responsive"/>					</a>
        </div>
        <div class="col-sm-4 portfolio-item">
            <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                <div class="caption">
                    <div class="caption-content">
                        <i class="fa fa-search-plus fa-3x"></i>
                    </div>
                </div>
                <img src="free_bt_theme/img/portfolio/circus.png" alt="circus" class="img-responsive"/>					</a>
        </div>
        <div class="col-sm-4 portfolio-item">
            <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
                <div class="caption">
                    <div class="caption-content">
                        <i class="fa fa-search-plus fa-3x"></i>
                    </div>
                </div>
                <img src="free_bt_theme/img/portfolio/game.png" alt="game" class="img-responsive"/>					</a>
        </div>
        <div class="col-sm-4 portfolio-item">
            <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
                <div class="caption">
                    <div class="caption-content">
                        <i class="fa fa-search-plus fa-3x"></i>
                    </div>
                </div>
                <img src="free_bt_theme/img/portfolio/safe.png" alt="save" class="img-responsive"/>					</a>
        </div>
        <div class="col-sm-4 portfolio-item">
            <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
                <div class="caption">
                    <div class="caption-content">
                        <i class="fa fa-search-plus fa-3x"></i>
                    </div>
                </div>
                <img src="free_bt_theme/img/portfolio/submarine.png" alt="submarine" class="img-responsive"/>					</a>
        </div>
    </div>
</div>